<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Vapolia.XamarinFormsGesture" version="1.1.1-pre4" targetFramework="portable45-net45+win8" />
  <package id="Vapolia.XamSvg.Forms" version="2.4.3" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.4.0.18342" targetFramework="portable45-net45+win8" />
</packages>