<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Softlion.XamSvg.Free" version="2.5.0" targetFramework="xamarinios10" />
  <package id="Vapolia.XamarinFormsGesture" version="1.1.1-pre4" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
</packages>